body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container{
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
}

input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button{
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

li{
    margin-top: 10px;
}
